* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.signupForm {
    flex-direction: column;
    display: block;
    padding: 15px;
    margin: 10px;
    width: 97%;
    font-size: 15px;
    /* border-radius: 10px; */
    box-shadow: 2px 3px 3px red;
    border: none;
}

#ProfilePicture {
    font-size: 18px;
    border-radius: 10px;
    margin-left: 20%;
    padding: 19px;
}

/* #gender {
    display: inline-block;
} */
#select {
    font-size: 15px;
    width: 32%;
    padding: 8px;
    border-radius: 10px;
    margin-right: 20%;
}

#main1 {
    width: 25%;
    /* background-color: gray; */
    padding: 10px;
    text-align: center;
    border: 10px solid green;
}

#sGender {
    font-size: 28px;
    color: #fff;
}

#validation1,
#validation2,
#validation3,
#validation4,
#validation5,
#validation6,
#validation7,
#validation8,
#validation9,
#validation10 {
    color: red;

}









#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(99, 191, 214); */
    /* display: flex; */
    text-align: center;
}

#sub {
    /* position: absolute; */
    /* top: 50%; */
    width: 100px;
    padding: 15px;
    border-radius: 30px;
    color: black;
    background-color: #fff;
    font-weight: bold;
    font-size: medium;
    border: 1px solid red;
}


#sub:hover {
    color: #fff;
    background-color: rgb(3, 255, 62);
    border: none;
}

body:hover {
    color: black;
}

.fb {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(97, 210, 255);
    border: none;
    color: #fff;
    font-size: 15px;
}

.Google {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: #fff;
    font-size: 15px;
    background-color: rgb(237, 63, 63);
}

.show {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid black;
}

.open-page {
    visibility: visible;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#password {
    opacity: 0.5;
    font-size: smaller;
}

.input {
    padding: 15px;
    width: 100%;
    font-size: 20px;

}

p {
    font-size: x-small;
    opacity: 0.7;
    font-family: cursive;
}

#ok {
    width: 70%;
    padding: 13px;
    border-radius: 10px;
    background: rgb(145, 225, 24);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

#heading {
    font-size: 30px;
}